body {
    background-size: cover;
    width: 99vw;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content horizontally */
}

.contetnt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pair {
    display: flex;
}

.pic {
    margin-left: auto;
    margin-left: 10px;
    max-height: 70%;
    margin-top: 10px;
    border: 1px solid #ccc; /* Border around each image */
    border-radius: 8px; /* Rounded corners for the images */
    overflow: hidden; /* Hide overflow to prevent image overflow */
    position: relative; /* Set position to relative for absolute positioning of name */
}

.pic img {
    width: 30vw;
    height: 40vh;
}

.numePoza {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    box-sizing: border-box;
}
